.header {
  color: #eee;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.title {
  color: #123;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
}

.menu {
  border-bottom: none;
  background: none;
  margin-left: 16px;
  flex: 1;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.search {
  max-width: 350px;
}
